name: mastermind
channels:
  - conda-forge
  - defaults
channel_priority: strict
dependencies:
  - python              
  - pip
  - pre-commit
  - pytest
  - pytest-cov
  - flake8
  - black
  - isort
  - pip:
      - -e .

